#btn_ajouter{
    width: 35%;
    height: 43px;
    border-radius: 13px;
    background-color:#bb4cd1;
    margin-left:20px;
    color: white;
    
}

#btn_envoyer_formulaire{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;

}