
#box_option_produit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
    .bloc_option{
        width: 502px;
        height:331px;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 4px 4px 13px  rgb(77, 76, 76);
        margin-bottom: 30px;
        margin-top: 13%;
    }
    
    
    img{
        width: 100%;
        height: 180px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
}

