


#bloc_option{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
    .bloc_option{
        width: 502px;
        height:508px;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 4px 4px 13px  rgb(77, 76, 76);
        margin-bottom: 30px;
        margin-top: 5%;
        background-color: #F3E9F1;
        border-top: 1px solid black;


        form{
            margin-left: 20px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        
    }
    
    
    img{
        width: 100%;
        height: 332px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }


    p{
        width: 20px;
        font-weight: bold;
        font-size: 35px;
        margin-left: 20px;
        margin-bottom: 7px;
        margin-top: 8px;
    }
   
    h2{
        font-size: 30px;
        margin-left: 20px;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    
}


