#box_recap_commande{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    height: 300px;
    border: 2px solid black;
    background-color: #f3e9f1;
    margin-top: 20px;

    .gras{
        font-weight: 900;
    }


    p{
        text-align: center;
        font-size: 20px;

    }

    .merci{
        color: red;
        font-size: 29px;
        font-weight: 900;
    }
}